@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Fredoka One', cursive;
}

@layer components {
  .button {
    background-color: orangered;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px 30px;
  }
}
