@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  pointer-events: none;
  user-select: none;
}

@layer components {
  .button {
    background-color: orangered;
    border: 3px solid white;
    border-radius: 15px;
    cursor: pointer;
    font-size: 18px;
    height: 72px;
    padding: 15px 30px;
    width: 200px;
  }
  @media only screen and (max-width: 639px) {
    .button {
      font-size: 15px;
      height: 60px;
      width: 180px;
    }
  }

  .score {
    background-color: blue;
    border: 3px solid white;
    border-radius: 15px;
    font-size: 18px;
    padding: 15px 30px;
    width: 200px;
  }
}
